[user]
	email = 10782843+inffy@users.noreply.github.com
	name = Juha Uotila
	signingkey = ~/.ssh/id_ed25519.pub

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
 
[init]
	defaultBranch = main

[http]
	ipResolve = 6
[gpg]
	format = ssh
[commit]
	gpgsign = true
[pull]
	rebase = true
[url "https://invent.kde.org/"]
	insteadOf = kde:
[url "ssh://git@invent.kde.org/"]
	pushInsteadOf = kde:
