// Window rules let you adjust behavior for individual windows.
// Find more information on the wiki:
// https://yalter.github.io/niri/Configuration:-Window-Rules

window-rule {
    geometry-corner-radius 6
    clip-to-geometry true
}

// Work around WezTerm's initial configure bug
// by setting an empty default-column-width.
window-rule {
    // This regular expression is intentionally made as specific as possible,
    // since this is the default config, and we want no false positives.
    // You can get away with just app-id="wezterm" if you want.
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

// Open the Firefox picture-in-picture player as floating by default.
window-rule {
    // This app-id regular expression will work for both:
    // - host Firefox (app-id is "firefox")
    // - Flatpak Firefox (app-id is "org.mozilla.firefox")
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

// Example: block out two password managers from screen capture.
// (This example rule is commented out with a "/-" in front.)
/-window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#

    block-out-from "screen-capture"

    // Use this instead if you want them visible on third-party screenshot tools.
    // block-out-from "screencast"
}

// Example: enable rounded corners for all windows.
// (This example rule is commented out with a "/-" in front.)
/-window-rule {
    geometry-corner-radius 6
    clip-to-geometry true
}


// set Zen Browser always open proportion 70%
window-rule {
    match app-id=r#"^app\.zen_browser\.zen$"#
    default-column-width { proportion 0.8; }
}
// Zen Browser rule to always open in default workspace
window-rule {
    match at-startup=true app-id=r#"^app\.zen_browser\.zen$"#
    open-on-workspace "default"
}
// Vesktop rule to always open in chat workspace
window-rule {
    match at-startup=true app-id=r#"^vesktop$"#
    open-on-workspace "chat"
}
// Make fractal open at 66%
window-rule {
  match app-id=r#"^org\.gnome\.Fractal$"#
  default-column-width { proportion 0.66; }
}
//Fractal rule to always open in chat workspace
window-rule {
    match at-startup=true app-id=r#"^org\.gnome\.Fractal$"#
    open-on-workspace "chat"
}

// Open Foot on default at startup
window-rule {
    match at-startup=true app-id=r#"^foot$"#
    open-on-workspace "default"
	default-column-width { proportion 1.0; }
}

// Open Zed at Tools workspace
window-rule {
    match app-id=r#"^dev\.zed\.Zed$"#
    open-on-workspace "tools"
}

// Open VSCode in tools workspace
window-rule {
    match app-id=r#"^Code$"#
    open-on-workspace "tools"
}
