@import "../omarchy/current/theme/waybar.css";

* {
  /* background-color: @background; */
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: CaskaydiaMono Nerd Font;
  font-size: 12px;
}

window#waybar {
  background: transparent;
  margin-top: 10px;
}
window#waybar.empty #window {
  background: transparent;
  padding: 0;
  margin-left: 0;
}
.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#workspaces button.active {
    color: #7cfc00;
}

#backlight,
#window,
#mpris,
#tray,
#cpu,
#battery,
#network,
#custom-tailscale,
#bluetooth,
#pulseaudio,
#clock,
#custom-omarchy,
#workspaces,
#tray-expander {
  background-color: @background;
  color: @foreground;
  border-radius: 10px;
  padding: 0 10px;
  margin: 5px 2;
}
mpris#waybar.empty #mpris {
  background: transparent;
  padding: 0;
  margin-right: 0;
}
#pulseaudio {
  padding-right: 15px;
}
#custom-omarchy {
  padding-left: 10px;
  color: #9ECE6A;
}
#custom-tailscale {
  padding-right: 10px;
}
#custom-expand-icon {
  margin-right: -4px;
}

tooltip {
  padding: 2px;
}

.connecting {
  animation: pulse 0.8s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
